<div class="header">
<div class="left_area">
<h3>Contacts Dictionary</h3>
</div>
</div>
<div class="sidebar">
<center>
Menu
</center>
{{#link-to "menu.contacts"}}
Contacts
{{/link-to}}
{{#link-to "welcome"}}
Back
{{/link-to}}
</div>
<div class="content1">
{{outlet}}
</div>

